/* Webfont: OsakaMonoKinopio-Regular */@font-face {
    font-family: 'OsakaMono-Kinopio';
    src: url('OsakaMono-Kinopio.woff2') format('woff2'), /* Modern Browsers */
         url('OsakaMono-Kinopio.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

